body {

    background-color: #36112a;
    color: #5e697e;
}

#about{
    position: relative;
    width: 65%;
background-color: rgb(7, 52, 92);
color: rgb(252, 252, 252);
max-width: 48rem;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1%;
height: 100vh;
gap: 1rem ;
}

.first{
    position: relative;
    width: 50%;
    background-color: rgb(52, 82, 109);
    width: 91.666667%;
    max-width: 48rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: aliceblue;


}

#talents{
position: relative;
width: 65%;
background-color: rgb(4, 25, 44);
color: rgb(252, 252, 252);
max-width: 48rem;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1%;
height: 100vh;
gap: 1rem;

}

#projects{
position: relative;
width: 65%;
background-color: rgb(61, 9, 46);
color: rgb(252, 252, 252);
max-width: 48rem /* 768px */;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1%;
height: 100vh;
gap: 1rem ;
}


#favorites{
position: relative;
width: 65%;
background-color: rgb(87, 10, 70);
color: rgb(252, 252, 252);
max-width: 48rem /* 768px */;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1%;
height: 100vh;
gap: 1rem /* 16px */;
}

#reference{
position: relative;
width: 65%;
background-color: rgb(73, 24, 5);
color: rgb(255, 255, 255);
max-width: 48rem /* 768px */;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1%;
height: 100vh;
gap: 1rem;
}

.aldwin{
    width: 16rem;
    border-radius: 1.5rem ;
    max-width: none;
    --tw-bg-opacity: 1;
    background-color: rgb(252 244 255 / var(--tw-bg-opacity));
}



